body{font-family: "Segoe UI","-apple-system",BlinkMacSystemFont,Roboto,"Helvetica Neue",Helvetica,Ubuntu,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";}

/* ccFramework CSS   */

#ccf_top_bar{width: 100%; height: 48px; background: white; border-bottom: 1px solid #EBEBEB;}
#ccf_top_bar_usr_box{width: auto; height: 48px; padding-left: 15px; float: right;}
    #ccf_top_bar_usr_box:hover{background: rgba(0,0,0,0.02); cursor: pointer;}
#ccf_top_bar_usr_circle{width: 32px; height: 32px; background: #0078D3; float: right; margin: 8px 12px 0 8px; border-radius: 50%; line-height: 33px; font-size: 17px; color: white; text-align: center;}
#ccf_logo_box{width: 260px; height: 48px; background: white; border-bottom: 1px solid #D8D8D8;}
#ccf_logo_box_txt{font-size: 19px; font-weight: 600; padding: 10px 0 0 15px; color: #0078D3;}

#ccf_nav_bar{height: 95%; width: 260px; position: fixed; z-index: 1; top: 20px; left: 20px; overflow-x: hidden; background: #00264D; border-radius: 30px; box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;}
.ccf_nav_item{width: 90%; height: 50px; background: #120030; margin: 15px auto 0 auto; border-radius: 12px;}
.ccf_nav_item_active{background: #1a0041;}
.ccf_nav_item:hover{background: #1a0041; cursor: pointer;}
#ccf_nav_item_icon{font-size: 24px; font-weight: 400; color: white; float: right; margin: 14px 15px 0 0;}
.ccf_nav_item_text{font-size: 18px; font-weight: 400; color: white; float: left; margin: 14px 0 0 15px;}

.ccf_nav_sub_item{width: 100%; height: 42px;}
.ccf_nav_sub_item_active{width: 100%; height: 42px; background: #DCDCDC;}
.ccf_nav_sub_item:hover{background: #CFCFCF; cursor: pointer;}
.ccf_nav_sub_item_text{font-size: 15px; color: rgba(0,0,0,0.7); padding: 11px 0 0 52px;}

#ccf_overlay_mask{width: 100%; height: 100%; background: rgba(0,0,0,0); position: absolute; top: 0; left: 0; z-index: 25;}

#ccf_profile_box{width: 340px; background: white; position: fixed; top: 48px; right: 0; z-index: 50; box-shadow: 0 24px 54px rgba(0,0,0,.10), 0 4.5px 13.5px rgba(0,0,0,.08);}
.ccf_profile_item{width: 100%; height: 48px;}
.ccf_profile_item:hover{background: #EAEAEA; cursor: pointer;}

#ccf_content{margin-left: 280px;}
#ccf_safe_area{width: 98%; margin-left: 1%; padding: 35px;}

#ccf_page_title{font-size: 32px; font-weight: 400; color: white; margin: 10px 0 0 15px;}

#container_panel{width: 100%; height: 100%; margin-top: 35px; background: #00264D; border-radius: 30px; box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;}

.ccf_list_action_bar{width: 100%; height: 44px; margin-top: 35px; border-bottom: 1px solid #EAEAEA;}
.ccf_list_action_item{height: 32px; border-radius: 2px; margin-right: 5px; padding-left: 9px; padding-right: 15px; float: left;}
.ccf_list_action_item:hover{background: #eeeeee; cursor: pointer;}
.ccf_list_action_icon{width: 24px; height: 24px; margin: 0; float: left; line-height: 34px; text-align: center; color: #0078D3;}
.ccf_list_action_text{font-size: 15px; color: rgba(0,0,0,0.8); margin: 6px 0 0 6px; float: left;}

.ccf_list_edit_button{width: 30px; height: 22px; background: #EAEAEA; border-radius: 4px;}
.ccf_list_edit_button:hover{background: #CFCFCF; cursor: pointer;}
.ccf_list_edit_box{width: 150px; background: white; position: absolute; right: 47px; display: none; z-index: 50; border-radius: 4px; box-shadow: 0 6.4px 14.4px 0 rgba(0,0,0,.132), 0 1.2px 3.6px 0 rgba(0,0,0,.108);}
.ccf_list_edit_item{width: 100%; height: 38px;}
.ccf_list_edit_item:hover{background: #EAEAEA; cursor: pointer;}
.ccf_list_edit_icon_box{width: 28px; height: 28px; margin: 5px 12px 0 8px; float: left; line-height: 32px; text-align: center; color: rgba(0,0,0,0.8);}
.ccf_list_edit_icon_text{font-size: 15px; color: rgba(0,0,0,0.8); padding: 9px 0 0 0;}


.ccf_form_container{width: 100%; margin: 20px; border-radius: 2px; padding-top: 10px; padding-bottom: 30px;}
.ccf_form_input_label{font-size: 20px; font-weight: 400; color: white; margin: 20px 0 10px 15px;}
.ccf_form_input_text{width: 90%; height: 45px; font-size: 17px; font-weight: 500; background: white; color: #00264D; outline: none; border-radius: 10px; margin-left: 5px; margin-bottom: 15px; padding-left: 9px; padding-right: 9px; border: 0;}
.ccf_form_save_button{height: 50px; background: #120030; margin: 30px 0 0 5px; border-radius: 12px; padding-left: 60px; padding-right: 60px; border: 0; color: white; font-size: 18px;}
.ccf_form_save_button:hover{background: #1a0041;}

.ccf_popup_success{width: 300px; position: absolute; z-index: 1000; top: 55px; right: 10px; padding: 15px; background: #54a200; color: white; font-size: 16px; font-weight: 500; border-radius: 6px; box-shadow: 0 6.4px 14.4px 0 rgba(0,0,0,.132), 0 1.2px 3.6px 0 rgba(0,0,0,.108);}
.ccf_popup_fail{width: 300px; position: absolute; z-index: 1000; top: 55px; right: 10px; padding: 15px; background: #a22600; color: white; font-size: 16px; font-weight: 500; border-radius: 6px; box-shadow: 0 6.4px 14.4px 0 rgba(0,0,0,.132), 0 1.2px 3.6px 0 rgba(0,0,0,.108);}

#ccf_form_error_title{font-size: 18px; font-weight: 600; color: #e26c00; margin: 15px 0 10px 5px;}
#ccf_form_error_ul{margin-left: 25px; padding: 0;}


#small_screen{width: 100%; height: 100%; background: rgba(0,0,0,0.95); position: absolute; top: 0; left: 0; text-align: center; display: none; z-index: 1000;}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


